<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <p>Bem vindo ao sistema de Cotações</p>
        {{>footer}}
    </body>
</html>